button{
    padding: 10px 30px;
    border-radius: 8px;
}

.signInButton{
    border: 1px solid #000000;
    background: none;
    transition: .2s ease-in-out;
    font-size: 16px;
    font-weight: 600;
}

.signInButton:hover{
    transform: scale(1.05);
}

.findOutButton{
    border: none;
    padding: 15px 30px;
    background-color: #F1A501;
    color: white;
    font-size: 1rem;
    transition: .2s ease-in-out;
}

.findOutButton:hover{
    transform: scale(1.05);
    background-color: #fd9c27;
}

.play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    transition: .2s ease-in-out;
}

.play-icon:hover{
    transform: scale(1.1);
}

.subscribeButton{
    background-color: #7CD2D7;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}